{{ define "main" }}
  <main class="content">
    <div class="hero">
      <div class="hero-left">
        <h1>KCD Oslo 2024</h1>
        <p>Catchy slogan with short description and other good stuff. 
          It even looks half-decent being broken across several lines. YOLO!!</p>
        <button class="hero-btn">Click here to do action thing</button>
      </div>
      <div class="hero-right">
        {{ with resources.Get "img/hk.jpg" }}
          <img src="{{ .RelPermalink }}" alt="">
        {{ end }}
      </div>
    </div>
  </main>
{{ end }}

