body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

header {
    background: #f2f5fa;
    border-bottom: 1px solid #444;
	box-shadow: 0 20px 20px -20px #333;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.nav-container {
    width: 80%;
    margin: 0 auto;
}

.navlogo {
    float: left;
    height: 60px;
    padding: 10px 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 35px;
    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: black;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: #444;
    position: absolute;
    top: 0;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}