<header>
    <a href="/">
        <img src="/assets/images/oslo_logo.png" class="navlogo" alt="logo">
    </a>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/program">Program</a></li>
        <li><a href="/venue">Venue</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
  </header>