<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Page.Title }}</title>
    {{ with resources.Get "css/style.css" }}
        <link rel="stylesheet" href="{{ .RelPermalink }}" type="text/css" media="screen">
    {{ end }}
    <link rel="shortcut icon" href="img/oslo_logo.png" type="image/x-icon">
    
</head>
<body>
    {{ partial "header.html" }}
    {{ block "main" . }}
    {{ end }}
</body>
</html>